@{

}
<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"]</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.fontcdn.ir/Font/Persian/Vazirmatn/Vazirmatn.css" rel="stylesheet" />

    <link href="~/Theme/assets/Style.css" rel="stylesheet" type="text/css" />
</head>

<body>

    <header>
        <h1>لیست محصولات</h1>
    </header>

    @RenderBody()

    <footer>
        <h3>
            2025 © تهیه شده توسط مصطفی عابدی
        </h3>
    </footer>

    <script src="~/Theme/assets/site.js"></script>

</body>
</html>
